$primary: #8d021f; // burgundy
$theme-colors: (
  "blue": #247ba0,
  "light-green": #70c1b3,
  "olive": #b2dbbf,
  "light-yellow": #f3ffbd,
  "red": #ff1654,
  "seyedi": #007065,
  "orange": #ffa91c
);

:lang(en) {
  font-family: 'IBM Plex Sans', sans-serif;
}

:lang(pe){
  font-family: 'Almarai', sans-serif;
}

.card-img {
  max-width: 250px;
}

#main_wrapper {
  min-height: 52vh;
}

#news-content {
  text-indent: 20px;
}

a:link {
 text-decoration: none;
 color: inherit;
}

a:visited {
 text-decoration: none;
 color: inherit;
}

a:hover {
 text-decoration: underline;
}

a:active {
 text-decoration: underline;
}

.list-group-item-orange{
  background-color: #ffa91c !important
}

.list-group-item-orange:hover{
  background-color: #ffcf80 !important
}
