$primary: #8d021f; // burgundy
$theme-colors: (
  "blue": #247ba0,
  "light-green": #70c1b3,
  "olive": #b2dbbf,
  "light-yellow": #f3ffbd,
  "red": #ff1654
);

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.card-img{
  max-width: 250px
}

#main_wrapper{
  min-height: 52vh;
}

#news-content{
  text-indent: 20px;
}
