$primary: #8d021f; // burgundy
$theme-colors: (
  "custom-color": #FFC922
);

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.card-img{
  max-width: 250px
}

#main_wrapper{
  min-height: 52vh;
}

#news-content{
  text-indent: 20px;
}
