<nav class="navbar navbar-expand-md bg-seyedi navbar-dark sticky-top">
  <div class="container">
  <a class="navbar-brand" href="#">SPL @ Sharif</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item px-1">
        <a class="nav-link" title="home page" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" title="Sharif SPL Projects" href="{{ site.url }}{{ site.baseurl }}/projects.html">Projects</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" title="Sharif SPL Projects" href="{{ site.url }}{{ site.baseurl }}/publication.html">Publications</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" title="Sharif SPL People" href="{{ site.url }}{{ site.baseurl }}/people.html">People</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" title="Sharif SPL News" href="#">News</a>
      </li>
    </ul>
    </div>
</nav>
