<div class="col-lg-6 p-2">
  <div class="card mb-3 border-light-green" style="max-width: 600px; min-height: 205px;">
    <div class="row no-gutters">
      <div class="col-md-4 text-center p-3">
        <img src="https://i.pravatar.cc/300" class="card-img rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-blue">{{include.member.first_name}} {{include.member.last_name}}</h5>

          {% if include.member.position != NULL %}
          <p class="card-text">{{member.position}}</p>
          {% endif %}

          {% if include.member.Thesis != NULL %}
          <p class="card-text">Thesis: {{member.Thesis}}</p>
          {% endif %}
          <p class="card-text"><i class="far fa-envelope mr-1"></i><small class="text-muted">{{include.member.mail}}</small></p>
          {% if include.member.homepage != NULL %}
          <a href={{member.homepage}}>
            <p class="card-text"><i class="fas fa-home"></i><small class="text-muted">homepage</small></p>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
