---
layout: default
---

<div id="homeid" class="col-sm-8">
  <h1 class="pd-2 pt-4">Welcome to the SPL lab!</h1>
  {{content}}
</div>
<div id="newsid" class="col-sm-4 mt-4 bg-success text-white-50 border border-white rounded">
  <ul>
    {% assign sorted = (site.posts | sort: 'date') | reverse %}
    {% for post in sorted limit:9 %}
    <li>
      <a href="{{ post.url }}" class="text-light"><strong>{{ post.title }}</strong></a>
      <p>{{post.excerpt}}</p>
    </li>
    {% endfor %}
  </ul>
</div>
